* {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}

.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.btn-space {
   margin-right: 10px;
}


/**** SEARCH BAR ****/
.search {
	margin-bottom: 20px;
	margin-top: 40px;
}

select {
  color: black;
  border-radius: 3px;
  padding: 6px;
}

input[type=search] {
  width: 170px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus  {
   width: 100%;
}
/**** SEARCH BAR ****/

/**** UPVOTE/DOWNVOTE ****/
i:hover {
	cursor: pointer;
}

i:focus {
	color: ##a0b3b6
}

i:active {
	color: #616c6e;
}

i.upvote {
	color: #cb4b16
}

i.downvote {
	color: #cb1616
}
/**** UPVOTE/DOWNVOTE ****/

/**** NAVBAR ****/
.nav-item {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer
}

.nav-item {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	/*letter-spacing: -.05px;*/
}

.nav-item:hover {
	font-size: 19px;
	/*letter-spacing: 1px;*/
}

#logo {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer
}

#logo {
	font-family: 'Quicksand', sans-serif;
	font-size: 34px;
	padding-bottom: 20px;
	letter-spacing: -2px;
}

#logo-x {
	font-family: 'Rammetto One', cursive;
	font-size: 30px;
	padding-bottom: 20px;
	letter-spacing: -2px;
}

#logo:hover {
	letter-spacing: 1px;
}

#logo:hover #logo-x {
	letter-spacing: 1px
}

/* hacky spacing fix */
.navbar-brand {
	margin-top: 10px;
   margin-bottom: 10px;
}

.navbar-inner {
	margin-top: 13px;
}
/* hacky spacing fix */
/**** NAVBAR ****/
/*  */

.hackcoins {
    border-radius: 100%;
    border-color:#002b36;
    background-color:#002b36;
    color:white;
    padding-left:8px;
    padding-right:8px;
    padding-top:6px;
    padding-bottom:6px;
    font-size:1.3em;
}

input[name=password] {
  margin-left: 10px
}

input[name=username] {
  margin-left: 7px
}