* {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}

.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.btn-space {
   margin-right: 10px;
}


/**** SEARCH BAR ****/
.search {
	margin-bottom: 20px;
	margin-top: 40px;
}

select {
  color: black;
  border-radius: 3px;
  padding: 6px;
}

input[type=search] {
  width: 170px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=search]:focus  {
   width: 100%;
}
/**** SEARCH BAR ****/

/**** UPVOTE/DOWNVOTE ****/
i:hover {
	cursor: pointer;
}

i:focus {
	color: ##a0b3b6
}

i:active {
	color: #616c6e;
}

i.upvote {
	color: #cb4b16
}

i.downvote {
	color: #cb1616
}
/**** UPVOTE/DOWNVOTE ****/

/**** FEATURED POST ****/
.featured {
	background-color: lightgray;
	color: black;
	padding: 4px 10px 4px;
	border-radius: 8px;
	border: black solid 1px;
	margin: 15px 0;
}
/**** FEATURED POST ****/

/**** NAVBAR ****/
.nav-item {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer
}

.nav-item {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	/*letter-spacing: -.05px;*/
}

.nav-item:hover {
	font-size: 19px;
	/*letter-spacing: 1px;*/
}

#logo {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer
}

#logo {
	font-family: 'Quicksand', sans-serif;
	font-size: 34px;
	padding-bottom: 20px;
	letter-spacing: -2px;
}

#logo-x {
	font-family: 'Rammetto One', cursive;
	font-size: 30px;
	padding-bottom: 20px;
	letter-spacing: -2px;
}

#logo:hover {
	letter-spacing: 1px;
}

#logo:hover #logo-x {
	letter-spacing: 1px
}

.signup-margin {
	margin-left: 10px;
}

/* hacky spacing fix */
.navbar-brand {
	margin-top: 10px;
   margin-bottom: 10px;
}

.navbar-inner {
	margin-top: 13px;
}
/* hacky spacing fix */
/**** NAVBAR ****/
/*  */


/**** HACKCOINS ****/
.hackcoins {
    border-radius: 100%;
    border-color:#002b36;
    background-color:#002b36;
    color:white;
		text-align: center;
    padding-left:8px;
    padding-right:8px;
    padding-top:4px;
    padding-bottom:6px;
    font-size:1.3em;
}

input[name=password] {
  margin-left: 10px
}

input[name=username] {
  margin-left: 7px
}
/**** HACKCOINS ****/

/**** USER PAGE ****/
.users-container{
	margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.user-container {
  grid-column: 1 / 1;
  border: 1px solid black;
  min-height: 70px;
  min-width:  70px;
  padding: 5px;
  background: #B58900;
  color: white;
  border-radius: 5px;
}

.inner-container {
	/*background: #002B36;*/
	/*padding-top: 20px;*/
}

.currentUser-container {
	padding: 20px;
}

.user-buttons {
	margin-top: 100px;
	margin-bottom: 30px;
}

.username {
	text-align: center;
}

.username a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.username a:hover {
	color: #36448A;
}

.default-user-image {
	height: 100px;
	width: 100px;
	max-height: 100px;
	max-width: 100px;
	min-height: 100px;
	min-width: 100px;
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.default-currentUser-image {
	height: 225px;
	width: 225px;
	max-height: 225px;
	max-width: 225px;
	min-height: 225px;
	min-width: 225px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 10px;
}

.user-questions {
	border-bottom: 1px solid #B58900;
	margin: 10px;
}

.user-questions-title {
	/*font-size: 18px;*/
	margin-top: 15px;
}

.post-title {
	margin-bottom: 10px;
}

.currentUser-post-info {
	font-size: 12px;
	margin-bottom: 10px;
}

.currentUser-username {
	font-size: 30px;
	text-align: center;
}
/**** USER PAGE ****/
