<div>
    <div class="list-group">
        <input ng-model="searchInput" type="search" class="form-control search" placeholder="Search for...">
        <h4>Select Language:</h4><select ng-model="selectedLanguage" ng-options="language as language.label for language in languages" ng-change="selectLanguage()"></select>
        <button ng-click="refresh()" type="button" class="btn btn-primary btn-sm pull-right">Refresh</button>
        <button ng-click="toggleStyle()" type="button" id="styletoggle" class="btn btn-space btn-primary btn-sm pull-right">Light Mode</button>
        <div ng-if="searchInput.length === 0 || searchInput.length === undefined">
            <h3 class="">Recent posts:</h3>
        </div>
        <div ng-if="searchInput.length > 0">
            <h3 class="" >Posts related to {{ searchInput }}:</h3>
        </div>
        <div class="featured"><h3>Featured Post:</h3>
          <div>

          </div>
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                  <strong>{{featuredPost.title}}</strong>
              </h5>
              <small style="display: block; text-align: center;">
                <div style="float: left;margin: -4px 20px 0 0;">
                  <i class="glyphicon glyphicon-chevron-up" ng-class="{'upvote': featuredPost.votedOn === 'up'}" ng-click="upvotePost($root.userId, featuredPost.post_id, featuredPost.user_id, 'featured'); $event.stopPropagation()"></i>
                  <h4 style="margin: 3px 0 5px -1px">{{featuredPost.votes}}</h4>
                  <i class="glyphicon glyphicon-chevron-down" ng-class="{'downvote': featuredPost.votedOn === 'down'}" ng-click="downvotePost($root.userId, featuredPost.post_id, featuredPost.user_id, 'featured'); $event.stopPropagation()"></i>
                </div>

              </small>

              <small>
                  <strong>{{featuredPost.username}}</strong>
              </small>
          </div>
          <p class="mb-1">{{featuredPost.summary}}</p>
          <small>{{featuredPost.created_at | date:'medium'}}, <i ng-click="selectLanguage(featuredPost.language); $event.stopPropagation()">{{featuredPost.language}}</i></small>

          <h5><strong class="text-warning" ng-show="post.solution_id !== null">Solved!</strong></h5>
        </div>
        <div class="posts">
            <a ng-repeat="post in filteredPosts | filter:searchInput track by $index" ng-click="handlePostClick($index)" post="post" class="list-group-item list-group-item-action flex-column align-items-start"
                data-toggle="modal" data-target="#myModal">
                <div>

                </div>
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        <strong>{{post.title}}</strong>
                    </h5>
                    <small style="display: block; text-align: center;">
                      <div style="float: left;margin: -4px 20px 0 0;">
                        <i class="glyphicon glyphicon-chevron-up" ng-class="{'upvote': post.votedOn === 'up'}" ng-click="upvotePost($root.userId, post.post_id, post.user_id, $index); $event.stopPropagation()"></i>
                        <h4 style="margin: 3px 0 5px -1px">{{post.votes}}</h4>
                        <i class="glyphicon glyphicon-chevron-down" ng-class="{'downvote': post.votedOn === 'down'}" ng-click="downvotePost($root.userId, post.post_id, post.user_id, $index); $event.stopPropagation()"></i>
                      </div>

                    </small>

                    <small>
                        <strong>{{post.username}}</strong>
                    </small>
                </div>
                <p class="mb-1">{{post.summary}}</p>
                <small>{{post.created_at | date:'medium'}}, <i ng-click="selectLanguage(post.language); $event.stopPropagation()">{{post.language}}</i></small>

                <h5><strong class="text-warning" ng-show="post.solution_id !== null">Solved!</strong></h5>

            </a>
        </div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{currentPost.title}}</h4>
                    </div>
                    <div class="modal-body">
                        <div hljs hljs-source="currentPost.code"></div>
                    </div>
                    <div class="modal-body">
                        <p>{{currentPost.summary}}</p>
                    </div>
                    <div class="modal-footer">

                            <div id="like-alert" class="alert alert-success alert-dismissible fade in" style="display:none">
                                You have {{$root.hackcoin}} hackcoins left!
                            </div>


                        <div ng-repeat="comment in comments track by $index" class="comments-list" ng-class="{'solution': comment.solution}">

                            <div id="like-error" class="alert alert-danger alert-dismissible fade in" style="display:none">
                                <strong>No more Hackcoins!</strong> Please wait for your coins to refresh
                            </div>


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong>{{comment.username}}</strong>
                                            <span class="text-muted">commented at {{comment.created_at | date:'short'}} </span>
                                            <span ng-show="currentPost.solution_id === comment.comment_id">  Best solution!</span>
                                            <span ng-class="{'glyphicon glyphicon-star': currentPost.solution_id === comment.comment_id}" aria-hidden="true"></span>
                                        </div>
                                        <div class="panel-body">
                                            <p ng-bind-html="comment.message"></p>
                                        </div>


                                        <!-- Multiple Like Modal -->
<div class="modal fade" id="like-modal" role="dialog" ng-controller="MainCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" >Please choose # of hackcoins to submit for *likes*: </h4>
      </div>
    <div id="likemultiple-error" class="alert alert-danger alert-dismissible fade in" style="display:none;">
        <a href="#" class="close" aria-label="close">&times;</a>
        <strong>Error!</strong> Please specify a valid number and try again.
      </div>
      <form name="likeForm" ng-submit="submit(likeForm.$valid)" novalidate>
      <div class="modal-body">
          <div class="form-group">
            <label for="input">Number of hackcoins to use:    </label>
            <input type="number" name="input" ng-model="like.input" required step="1" min="1" max="{{$root.hackcoin}}" required>
            <p ng-show="likeForm.input.$error.min || likeForm.input.$error.max" class="help-block">Number of Hackcoins is out of bounds!!! Must be between 1 and {{$root.hackcoin}}. </p>
            <p ng-show="likeForm.input.$error.required" class="help-block">A number is required.</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="likeForm.$setPristine()" ng-disabled="likeForm.$invalid">Submit Likes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>

                                        <!-- Multiple Unike Modal -->
<div class="modal fade" id="unlike-modal" role="dialog" ng-controller="MainCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" >Please choose # of hackcoins to submit for *unlikes*: </h4>
      </div>
    <div id="unlikemultiple-error" class="alert alert-danger alert-dismissible fade in" style="display:none;">
        <a href="#" class="close" aria-label="close">&times;</a>
        <strong>Error!</strong> Please specify a valid number and try again.
      </div>
      <form name="unlikeForm" ng-submit="submitUnlikes(unlikeForm.$valid)" novalidate>
      <div class="modal-body">
          <div class="form-group">
            <label for="input">Number of hackcoins to use:    </label>
            <input type="number" name="input" ng-model="unlike.input" required step="1" min="1" max="{{max}}" required>
            <p ng-show="unlikeForm.input.$error.min || unlikeForm.input.$error.max" class="help-block">Number of Hackcoins is out of bounds!!! Must be between 1 and {{max}}.</p>
            <p ng-show="unlikeForm.input.$error.required" class="help-block">A number is required.</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="unlikeForm.$setPristine()" ng-disabled="unlikeForm.$invalid">Submit Unlikes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </form>
    </div>
  </div>
</div>



                                        <!-- /panel-body -->
                                        <p style="margin-right: 2px;">
                                            <small>

                                                <a ng-class="{'disabled': $root.hackcoin <= 0 || !$root.userId}" ng-click="likeComment(comment.comment_id, comment.user_id, $index)" ng-dblclick="multipleLike(comment.comment_id, comment.user_id, $index)"
                                                    href="">Like</a> -

                                                <a ng-class="{'disabled': !comment.voters.hasOwnProperty($root.userId) || comment.voters[$root.userId] < 1 || !$root.userId}" ng-click="unlikeComment(comment.comment_id, comment.user_id, $index)" ng-dblclick="multipleUnlike(comment.comment_id, comment.user_id, $index)"
                                                    href="">Unlike</a> -

                                                <a ng-show="currentPost.user_id === $root.userId && currentPost.solution_id !== comment.comment_id" ng-click="selectSolution(comment)"
                                                    href="">Mark as Solution</a>
                                                <a ng-show="currentPost.user_id === $root.userId
                                                && currentPost.solution_id === comment.comment_id" ng-click="unselectSolution(comment)"
                                                    href="">Not correct? Unmark as Solution</a> - Votes: {{comment.votes}}

                                            </small>
                                            <br></br>
                                            <button ng-show="comment.user_id === $root.userId" ng-click="deleteComment(comment, $index)" type="button" class="btn btn-primary btn-sm pull-right">Delete Comment</button>
                                        </p>
                                    </div>
                                    <!-- /panel panel-default -->
                                </div>
                                <!-- /col-sm-5 -->
                            </div>
                        </div>


                        <form ng-show="$root.userId" name="commentForm" ng-submit="submitComment(commentForm.$valid)" novalidate>

                            <div class="form-group">
                                <label for="newCommentDescription" class="pull-left">Your response</label>
                                <textarea name="message" ng-model="message" class="form-control" rows="3" placeholder="Write your comment here" ng-maxlength="8000"
                                    required></textarea>
                                <p ng-show="commentForm.message.$error.required && commentForm.message.$dirty" class="help-block">You cannot leave a blank comment.</p>
                                <p ng-show="commentForm.message.$error.maxlength" class="help-block">Your comment is too long.</p>
                            </div>
                            <button type="submit" ng-click="commentForm.$setPristine()" ng-disabled="commentForm.$invalid" class="btn btn-primary pull-left">Submit</button>
                        </form>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
