<div class="container">
    <div class="user-buttons">
        <button ng-click="refresh()" type="button" class="btn btn-primary btn-sm pull-right">Refresh</button>
        <button ng-click="toggleStyle()" type="button" id="styletoggle" class="btn btn-space btn-primary btn-sm pull-right">Light Mode</button>
    </div>
    <div class="list-group">
        <div class="users-container">
            <div ng-repeat="user in watchedUsers track by $index" ng-controller="UsersCtrl" ng-click="handleUserClick($index)" user="user"
                data-toggle="modal" data-target="#user-modal">
                <div class="user-container">
                      <p class="github"><img class="default-user-image" src="http://www.hrzone.com/sites/all/themes/pp/img/default-user.png" alt=""></p> 
                    <div class="inner-container">
           <!--        <div ng-if="user.github_handle">
                      <h5 class=""><img src="{{ getGithubPicture(user.github_handle) }}" alt=""></h5> 
                  </div> -->
                      <p ng-if="user.username" class="username">{{ user.username }}</p>
                    </div>
                </div>
             </div>
        </div>
        
        <!-- user profile modal -->
        <div id="user-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="currentUser-container">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-body">
                          <img class="default-currentUser-image" src="http://www.hrzone.com/sites/all/themes/pp/img/default-user.png" alt="">
                          <h4><strong>{{ currentUser.username }}</strong> has <strong>{{ currentUser.hackcoin }}</strong> hackcoins</h4>
                          <p ng-if="currentUser.location" class="location"><strong>Location:</strong> {{ currentUser.location }}</p>
                          <p ng-if="!currentUser.location" class="location"><strong>Location:</strong> Somewhere out there</p>
                          <p ng-if="currentUser.languages" class="favorites"><strong>Favorite Languages:</strong> {{ currentUser.languages }}</p>
                          <p ng-if="!currentUser.languages" class="favorites"><strong>Favorite Languages:</strong> none specified</p>
                          <!-- <div ng-repeat="user in watchedUsers track by $index" ng-controller="UsersCtrl" ng-click="handleUserClick($index)" user="user" data-toggle="modal" data-target="#user-modal">
                            <h3>User Questions</h3>
                          </div> -->
                        </div>
                    </div> <!-- currentUserContainer div -->
                </div> <!-- modal content div -->
            </div>
        </div> <!-- modal end -->
    </div>
</div>
